#display {
    width:100%;
    background-color: forestgreen;
    margin-bottom: 15px;
    padding:5px;
}
td, tr {
    margin: 5px;
    padding: 10px;;
}
table {
    background-color: gray;
    border-radius: 10%;
}